@using _5AdoDotNet.Models;
@model Dept
<h2>Department Details</h2><hr />
<span>
    Dept Numeber : @Model.DeptNo<br />
    Dept Name : @Model.DName<br />
    Location : @Model.Location<br />
</span><br />
<a href="/Home/Index">Back to Index</a>