<h2>Index</h2>
<a href="/home/details">Get Details (Action Method with view result)</a><br />
<a href="/home/gettotal">Get Total (Non-Action method) </a><br />
<a href="/home/getservertime">Get Servertime (non-view result)</a><br />