<h2>Get Action Method Parameter</h2>
<hr />
<h3>Using QueryString</h3>
<a href="Home5/Details1?dno=10">Account</a><br />
<a href="Home5/Details1?dno=20">Sales</a><br />
<a href="Home5/Details1?dno=30">Marketing</a><br />
<hr />
<h3>Using Using Route URL - Parameters</h3>
<a href="Home5/Details2/10">Account</a><br />
<a href="Home5/Details2/20">Sales</a><br />
<a href="Home5/Details2/30">markating</a><br />