<h2>Index</h2>
<a href="/home1/details1">Get Details (Action Method with view result)</a><br />
<a href="/home1/gettotal">Get Total (Non-Action method) </a><br />
<a href="/home1/getservertime">Get Servertime (non-view result)</a><br />