@* 1. Single line Statement *@
@{ string uname = "Sagar";}
@* 2. In-line statement*@
<h1> Welcome @uname </h1> <br />
@* 3. Multi-line statement*@
@{
    int x = 124;
    if (x % 2 == 0)
    {
        <h2>@x is even number</h2>
    }
    else
    {
        <h2>@x is odd number</h2>
    }
}
<a href="home2/Studinfo">Student Information</a></br>
<a href="home2/CourseName">Course Name</a></br>
<a href="home2/CourseNameArray">Course Name In Array</a></br>
<a href="home2/DataEntryForm">Data Entry Form</a></br>
<a href="home2/ProductDetails">Product Details</a></br>
<a href="home2/AdditionOperation">Addition Operation</a></br>