@{
    int sno = 1025;
    string sname = "Scott";
    string course = "ASP.NET MVC";
}
<h1>Student Details</h1><hr />
<span>
    Student Id = @sno <br />
    Student Name = @sname <br />
    Course Name = @course <br />
</span>